<!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 	<style type="text/css">
 		body {
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 14px;
			line-height: 1.42857143;
			color: white;
			background-color: #fff;
			}
	 	p {
		  margin: 0 0 10px;
		}
 		p {
		  display: block;
		  -webkit-margin-before: 1em;
		  -webkit-margin-after: 1em;
		  -webkit-margin-start: 0px;
		  -webkit-margin-end: 0px;
		}
 	</style>
 </head>
 <body>
 	<footer>
	    <div class="row">
	        <div class="col-lg-12">
	            <p>Copyright &copy; Your Website 2014</p>
	        </div>
	    </div>
	</footer>	
 </body>
 </html>