<div id="slider">
	<div id="slider-holder">
	<center>
		<ul>
			<li><a href="#"><img src="css/css_newtheme/images/image6.png" alt="" /></a></li>
			<li><a href="#"><img src="css/css_newtheme/images/watch2.jpg" alt="" /></a></li>
		    <li><a href="#"><img src="css/css_newtheme/images/slide1.jpg" alt="" /></a></li>
		    <li><a href="#"><img src="css/css_newtheme/images/slide2.jpg" alt="" /></a></li>
		    <li><a href="#"><img src="css/css_newtheme/images/image7.jpg" alt="" /></a></li>
		    <li><a href="#"><img src="css/css_newtheme/images/watch3.jpg" alt="" /></a></li>
		</ul>
	</center>	
	</div>
	<div id="slider-nav">
		<a href="#" class="prev">Previous</a>
		<a href="#" class="next">Next</a>
	</div>
</div>